name: Deploy Personal Blog

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Zola
        run: |
          curl -L https://github.com/getzola/zola/releases/download/v0.21.0/zola-v0.21.0-x86_64-unknown-linux-musl.tar.gz -o zola.tar.gz
          tar -xvf zola.tar.gz
          sudo mv zola /usr/local/bin/

      - name: Build site
        run: zola build

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avz --delete
          path: public/
          remote_path: /var/www/blog
          remote_host: bonfacemunyoki.com
          remote_user: blog
          private_key: ${{ secrets.DEPLOY_KEY }}
